---
import { t } from '../i18n/translations';
import '../styles/codeBackground.css';
---

<div class="code-container">
  <pre class="code-block">
    <code>
<span style="color: #6a9955; display: block; margin-bottom: 15px;">/* {t('projectsList.hints.desktopInteraction')} */</span>

<span class="keyword">class</span> <span class="class">SoftwareEngineer</span> &#123;
    <span class="keyword">constructor</span>() &#123;
        <span class="keyword">this</span>.<span class="property">coffee</span> = <span class="number">0</span>;
        <span class="keyword">this</span>.<span class="property">isAwesome</span> = <span class="keyword">true</span>;
        <span class="keyword">this</span>.<span class="property">linesOfCode</span> = <span class="number">Infinity</span>;
    &#125;
    <span class="keyword">while</span> (<span class="string">'I am Alive'</span>) &#123;
        <span class="keyword">this</span>.<span class="function">drinkCoffee</span>();
        <span class="function">code</span>();
        <span class="function">sleep</span>();
        <span class="keyword">this</span>.<span class="function">beAwesome</span>();
    &#125;
&#125;</code>
  </pre>
</div>
  